.Main{
    display: flex;
    gap:25px;
    padding: 5px;
    justify-self: center;
    margin-left: 50px;
}
.Card{
    height: 400px;
    width: 280px;
    color:black;
    border-radius: 10px;
    background-color:#fff;
    
}

h3{
    font-size: 25px;
    text-align: center;
    
    height: 15px;
}

.Title{
    left: 50px;
    position: relative;
    width: 150px;
    font-size: 40px;
    justify-self: center;
    padding-bottom: 25px;
    color: #2f27ce;
    
}

